.title {
  color: white;
  font-weight: 600;
  margin-bottom: 0;
}

.subtitle {
  color: white;
  font-weight: 400;
  font-style: italic;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  
}
